<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="sensenet">
      <section name="subsection" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <section name="feature1" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <connectionStrings>
    <add name="cs1" connectionString="csvalue1"/>
  </connectionStrings>
  <appSettings>
    <add key="key1" value="value1" />
    <add key="key2" value="123" />
    <add key="key3" value="1.2" />
    <add key="key4" value="a,b,c" />
    <add key="keyX" value="qwe" />
  </appSettings>
  <feature1>
    <add key="key1" value="value999" />
    <add key="key2" value="456" />
    <add key="key3" value="3.4" />
    <add key="key4" value="d,e;f" />
    <add key="key5" value="7,8,9" />
    <add key="key6" value="Value2" />
    <add key="key7" value="" />
    <add key="key8" value="true" />
  </feature1>
  <sensenet>
    <subsection>
      <add key="key1" value="subvalue1" />
    </subsection>
  </sensenet>
</configuration>